@font-face {
  font-weight: 400;
  font-family: "GothamPro";
  font-style: normal;
  src: url("../fonts/GothamPro.woff");
}

@font-face {
  font-weight: 600;
  font-family: "GothamPro";
  font-style: normal;
  src: url("../fonts/GothamPro-Medium.woff");
}

@font-face {
  font-weight: 700;
  font-family: "GothamPro";
  font-style: normal;
  src: url("../fonts/GothamPro-Bold.woff");
}

body {
  font-family: "GothamPro", "Arial", sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: normal;
  color: @normal;
  background-color: @bg-light;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
