.address {
  display: flex;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 45px;
  border-bottom: 1px solid @border;
}

.address__part {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin: 0;
  
  span {
    display: block;
    margin: 25px 0 20px 0;
  }
  
  &:first-of-type {
    padding-right: 40px;
    color: @dark;
  }
}

.address__link {
  color: @normal;
  
  &:hover {
    color: @dark;
  }
}

//-----------Mobile-320--------
@media @mobile-320 and (min-width: 0) {
  .address {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
  
  .address__part:last-of-type {
    max-width: 60%;
  }
  
  .address__part:first-of-type {
    padding-right: 20px;
  }
}