.btn {
  border-radius: 15px;
  max-width: 182px;
  min-height: 31px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
  cursor: pointer;
  
  &--link {
    background-color: @dark;
    color: #fff;
    text-align: center;
    line-height: 31px;
  }
  
  &--link:hover {
    background-color: #000;
  }
    
  &--grey,
  &--step {
    background-color: #fafafa;
    border: 1px solid @border;
    max-width: 182px;
    max-height: 28px;
    color: #b8b8b8;
  }
    
  &--grey:hover,
  &--step:hover {
    color: #000;
  }
  
  &--step {
    max-width: 343px;
  }
    
  &--white {
    background-color: #fff;
    color: @blue-bg;
    
    &:hover {
      color: #1e3c78;
    }
  }
}
