.btn {
  border-radius: 15px;
  max-width: 182px;
  min-height: 31px;
  padding-left: 26px;
  padding-right: 26px;
  font-weight: 600;
  cursor: pointer;
  
  &--link {
    background-color: @dark;
    color: #fff;
    text-align: center;
    line-height: 31px;
    transition: ease-out 0.5s;
  }
  
  &--link:hover {
    background-color: #000;
    transition: ease-out 0.5s;
  }
    
  &--grey,
  &--step {
    background-color: #fafafa;
    border: 1px solid @border;
    max-width: 170px;
    max-height: 28px;
    color: #b8b8b8;
    transition: ease-out 0.5s;
  }
    
  &--grey:hover,
  &--step:hover {
    color: #fff;
    background-color: @blue;
    transition: ease-out 0.5s;
  }
  
  &--step {
    max-width: 350px;
    margin-top: 7px;
  }
    
  &--white {
    max-width: 170px;
    background-color: #fff;
    color: @blue-bg;
    transition: ease-out 0.5s;
    
    &:hover {
      color: #000;
      transition: ease-out 0.5s;
    }
  }
  
  &--blue {
    background-color: @blue;
    color: #fff;
    padding-left: 28px;
    padding-right: 28px;
    transition: ease-out 0.5s;
    
    &:hover {
      background-color: #095b99;
      transition: ease-out 0.5s;
    }
  }
}

//-----------Mobile-320--------
@media @mobile-320 {
  .btn--step {
    max-height: none!important;
  }
}