.map {
  border: 5px solid #fff;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.map iframe {
  border: none;
}