.promo {
  width: 100%;
  min-height: 800px;
  background-color: #cacaca;
  background-image: url(../img/image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__wrap {
  width: 600px;
  margin: 0 auto;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.promo__h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: @blue;
  margin-bottom: 17px;
  margin-top: 0;
  
  span {
    color: #fff;
  }
}

.promo__text {
  max-width: 350px;
  margin-top: 0;
  margin-bottom: 20px;
}