.promo {
  width: 100%;
  background-color: #cacaca;
  background-image: url(../img/image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__wrap {
  width: @max;
  margin: 0 auto;
  padding-left: 30px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.promo__h1 {
  width: 600px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: @blue;
  margin-bottom: 17px;
  margin-top: 0;
  
  span {
    color: #fff;
  }
}

.promo__text {
  max-width: 350px;
  margin-top: 0;
  margin-bottom: 20px;
}

//------------Tablet-----------
@media @tablet {
  .promo__wrap {
    height: 600px;
    width: @max-tablet;
  }
}

//-----------Mobile-480--------
@media @mobile {
  .promo__h1 {
    width: 100%;
    font-size: 32px;
  }
  
  .promo__wrap {
    width: @max-mobile;
  }
}

//-----------Mobile-320--------
@media @mobile-320 {
  .promo__wrap {
    width: @max-320;
    padding-left: 0;
  }
  
  .promo__h1 {
    font-size: 24px;
    line-height: 36px;
  }
}