.title-h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  color: @dark;
  margin-top: 74px;
  margin-bottom: 28px;
  padding-left: 25px;
  
  span {
    color: @blue;
    padding-bottom: 4px;
    border-bottom: 2px solid @blue;
  }
}