.title-h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  color: @dark;
  margin-top: 75px;
  
  span {
    color: @blue;
    padding-bottom: 5px;
    border-bottom: 2px solid @blue;
  }
}