.wrapper {
  width: @max;
  margin: 0 auto;
}

//------------Tablet-----------
@media @tablet and (min-width: 768px) {
  .wrapper {
    width: @max-tablet;
  }
}

//-----------Mobile-480--------
@media @mobile and (min-width: 480px) {
  .wrapper {
    width: @max-mobile;
  }
}

//-----------Mobile-320--------
@media @mobile-320 and (min-width: 0) {
  .wrapper {
    width: @max-320;
  }
}
